.service{
    padding:8rem calc((100vw - 1200px)/2);
}

.service_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding:1rem;
}
.service_image{
    width:100%;
    height: 100%;
}

.topline{
    color: red;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.service_heading{
    margin-bottom: 1rem;
    font-size: clamp(2rem ,6vw ,3rem);
}

.services_features{
    list-style: none;
}
.services_feature{
    margin-bottom: 1.5rem;
    font-size: clamp(1rem , 5vw ,1.2rem);
}


@media screen and (max-width:768px){
    .service_container{
        grid-template-columns: 1fr;
    }
}