.hero{
    height:100vh;
    background-image: url('../images/gym4.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    
    justify-content: flex-start;
    align-items: center;
    padding: 0.5rem;
    
}

.hero_content{
    color: white;
    padding: 3rem 1rem;
    
   
}

.hero_content h1{
    font-size: clamp(3rem , 8vh , 6rem);
    text-transform: uppercase;
    margin-bottom: 1rem;


}

.hero_content p{
    font-size: clamp(3rem , 8vh , 6rem);
    margin: 2rem;
    padding-bottom: 80px;
}


.butt{
    
    border: none;
    background-color: teal;
    color: white;
    font-size: 2rem;
    cursor: pointer;
    outline: none;
    text-decoration: none;
    border-radius: 6px;
    transition: 0.3s ease;
    margin-left: 10px;
    padding:1rem 2rem;

    
}

.butt:hover{
    background-color: black;
}